{% extends 'records/layout.html' %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    <h2>All Records</h2>

    <a href="{% url 'add_record' %}"
       style="background:#2563eb;
              color:white;
              padding:10px 15px;
              border-radius:6px;
              text-decoration:none;">
        + Add Record
    </a>
</div>

{% for r in records %}
<div class="card">
    <p><strong>Name:</strong> {{ r.name }}</p>
    <p><strong>Roll:</strong> {{ r.roll }}</p>
    <p><strong>Email:</strong> {{ r.email }}</p>

    <div style="margin-top:10px;">
    <a href="{% url 'edit_record' r.id %}" class="btn btn-edit">Edit</a>
    <a href="{% url 'delete_record' r.id %}" class="btn btn-danger">Delete</a>
</div>
</div>
{% empty %}
<p>No records found.</p>
{% endfor %}

{% endblock %}

